<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>About Us</title>
</head>
<body>
    <%- include ("header.ejs") -%>
    <div class="bg-image d-flex align-items-center" id="section1">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark-opacity fixed-top" id="navbar">
            <a class="navbar-brand md-5" href="/">LOGO</a>
        </nav>  
        <section class="container py-5">
            <div class="justify-content-center">
                <h2 class="text-center">About Us</h2>
            </div>
        </section> 
    </div>
</body>
</html>