/* Font setting */

body
{
  overflow-x: auto;
  overflow-y: auto;
}

h1,h2,h3
{
  font-family: 'Bebas Neue', sans-serif;
  font-weight: bold;
}

h1
{
  font-size: 80px;
}

h2
{
  font-size: 36px;
}

h3
{
  font-size: 24px;
}





/* Universal background setting */
.bg-image
{
  display: flex;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  height: 100vh;
  width: 100vw;
}

/* Start Section 1 */
#section1{
  background-image: url(./assets/main-bg.jpg);
}

#navbar {
  font-family: 'Open Sans', sans-serif;
  min-height: 100px;
  position: fixed;

  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
/* Change navbar opacity */
.bg-dark-opacity {
  background-color: rgba(0,0,0,0.6);
}

.navbar-brand
{
  font-size: 30px;
}

.navbar-brand img
{
  max-width: 100%;
}

#navbar-content {
  margin-left: 200px;
}
/* 
@media (max-width: 991.98px) {
  #navbar-content {
    margin-left: 0;
  }
} */

#navbar-sign {
  justify-content: flex-end;
  margin-right: 100px;
}

.container-fluid
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
/* 
#section1-text h1
{
  font-size: 120px;
}

#section1-text h3
{
  font-size: 60px;
} */

#section1-text h2
{
  color: aliceblue;
}

/* Start "Section 2" */

#section2
{
  background-image: url(assets/the-games-bg.jpg);
}

#section2 h1
{
  color: white;
}

#section2-text
{
  width: 60%;
  color: white;
}



/* This css below is use to change the carousel indicator into dot */
/* stackoverflow ftw */
/* So the logic is by changing the shape of the button widht and height set the radius of the circle */
/* the border radiuss chaneg it to circle */
.carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel-control-prev-icon {
  background-image: url("./assets/switch-left.svg") !important;
 }
 
 .carousel-control-next-icon {
   background-image: url("./assets/switch-right.svg") !important;
 }



/* Section 3 */

#section3
{
  background-image: url(./assets/features.jpg);
}

#section3-text
{
  word-spacing: 5px;
}

#feature
{
  padding-left: 60%;
  color: white;
}
#feature h1
{
  font-size: 60px;
}

#feature h2
{
  font-size: 36px
}

.tag1, .tag2, .tag3
{
  color: #ffb548;
}

/* Section 4 */
#section4
{
  background-image: url(./assets/requirements.png);
}


.my-table
{
  height: 300px;
  /* border: 1px solid white; */
  overflow-y: auto;
}

.my-table ,tr, td
{
  color: #ffb548;

}

/* Section 5 */
#section5
{
  background: url('./assets/top-score-bg.png')center center no-repeat;
  background-size: cover;
  /* Internet */
  padding-top: 10%;
  padding-bottom: 10%;

}


/* Section 6 */
#section6
{
  background: url('./assets/newsletter.png')center center no-repeat;
  background-size: cover;
  /* Internet */
  padding-top: 10%;
  padding-bottom: 10%;
}

.bright-hr
{
  background-color: #ffffff; /* White color */
  opacity: 0.7; /* Adjust opacity to control brightness */
  height: 1px; /* Set the height of the <hr> */
}


